<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  <div id='app'>
    <div class="test" v-if='show'>
      {{ state }}
      <input type="text" v-model='state'>
      {{message}}
      {{plus()}}
    </div>
    <button @click='show=!show'>click</button>
  </div>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          state: 12,
          show: true,
        }
      },
      computed: {
        message() {
          console.log('computed')
          return this.state
        }
      },
      methods: {
        plus() {
          console.log('methods')
          return this.state
        }
      }
    })
  </script>
</body>

</html>